@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-default {
    --color-primary-main: 17,24,94;
    --color-primary-dark: 7,10,38;
    --color-primary-light: 112,116,158;
    --color-primary-main-contrast: 251,252,248;
    --color-primary-dark-contrast: 251,252,248;
    --color-primary-light-contrast: 27,27,27;

    --color-secondary-main: 84,107,182;
    --color-secondary-dark: 59,75,127;
    --color-secondary-light: 170,181,219;
    --color-secondary-main-contrast: 251,252,248;
    --color-secondary-dark-contrast: 251,252,248;
    --color-secondary-light-contrast: 27,27,27;

    --color-info-main: 63,158,219;
    --color-info-dark: 38,95,131;
    --color-info-light: 159,207,237;
    --color-info-main-contrast: 251,252,248;
    --color-info-dark-contrast: 251,252,248;
    --color-info-light-contrast: 27,27,27;

    --color-danger-main: 230,35,49;
    --color-danger-dark: 115,18,25;
    --color-danger-light: 243,145,152;
    --color-danger-main-contrast: 251,252,248;
    --color-danger-dark-contrast: 251,252,248;
    --color-danger-light-contrast: 27,27,27;

    --color-warning-main: 213,195,31;
    --color-warning-dark: 149,137,22;
    --color-warning-light: 234,225,143;
    --color-warning-main-contrast: 27,27,27;
    --color-warning-dark-contrast: 251,252,248;
    --color-warning-light-contrast: 27,27,27;

    --color-success-main: 36,245,15;
    --color-success-dark: 18,123,8;
    --color-success-light: 146,250,135;
    --color-success-main-contrast: 27,27,27;
    --color-success-dark-contrast: 251,252,248;
    --color-success-light-contrast: 27,27,27;

    transition: color 300ms ease-in-out;
  }
  .theme-relax {
    --color-primary-main: 230,247,249;
    --color-primary-dark: 138,148,149;
    --color-primary-light: 240,250,251;
    --color-primary-main-contrast: 27,27,27;
    --color-primary-dark-contrast: 251,252,248;
    --color-primary-light-contrast: 27,27,27;

    --color-secondary-main: 248,190,194;
    --color-secondary-dark: 149,114,116;
    --color-secondary-light: 251,216,218;
    --color-secondary-main-contrast: 27,27,27;
    --color-secondary-dark-contrast: 251,252,248;
    --color-secondary-light-contrast: 27,27,27;

    --color-info-main: 15,83,210;
    --color-info-dark: 11,58,147;
    --color-info-light: 87,135,224;
    --color-info-main-contrast: 251,252,248;
    --color-info-dark-contrast: 251,252,248;
    --color-info-light-contrast: 27,27,27;

    --color-danger-main: 190,59,41;
    --color-danger-dark: 133,41,29;
    --color-danger-light: 210,118,105;
    --color-danger-main-contrast: 251,252,248;
    --color-danger-dark-contrast: 251,252,248;
    --color-danger-light-contrast: 27,27,27;

    --color-warning-main: 213,194,152;
    --color-warning-dark: 149,136,106;
    --color-warning-light: 226,212,183;
    --color-warning-main-contrast: 27,27,27;
    --color-warning-dark-contrast: 251,252,248;
    --color-warning-light-contrast:  27,27,27;

    --color-success-main: 116,216,68;
    --color-success-dark: 70,130,41;
    --color-success-light: 158,228,124;
    --color-success-main-contrast: 251,252,248;
    --color-success-dark-contrast: 27,27,27;
    --color-success-light-contrast: 251,252,248;

    transition: color 300ms ease-in-out;
  }
  .theme-earth {
    --color-primary-main: 189,106,49;
    --color-primary-dark: 95,53,25;
    --color-primary-light: 215,166,131;
    --color-primary-main-contrast: 251,252,248;
    --color-primary-dark-contrast: 251,252,248;
    --color-primary-light-contrast: 27,27,27;

    --color-secondary-main: 69,78,110;
    --color-secondary-dark: 41,47,66;
    --color-secondary-light: 143,149,168;
    --color-secondary-main-contrast: 251,252,248;
    --color-secondary-dark-contrast: 251,252,248;
    --color-secondary-light-contrast: 27,27,27;

    --color-info-main: 40,121,183;
    --color-info-dark: 24,73,110;
    --color-info-light: 126,175,212;
    --color-info-main-contrast: 251,252,248;
    --color-info-dark-contrast: 251,252,248;
    --color-info-light-contrast: 27,27,27;

    --color-danger-main: 223,18,25;
    --color-danger-dark: 112,9,13;
    --color-danger-light: 239,137,140;
    --color-danger-main-contrast: 251,252,248;
    --color-danger-dark-contrast: 251,252,248;
    --color-danger-light-contrast: 27,27,27;

    --color-warning-main: 243,227,55;
    --color-warning-dark: 146,136,33;
    --color-warning-light: 248,238,135;
    --color-warning-main-contrast: 27,27,27;
    --color-warning-dark-contrast: 251,252,248;
    --color-warning-light-contrast: 27,27,27;

    --color-success-main: 151,221,79;
    --color-success-dark: 106,155,55;
    --color-success-light: 193,235,149;
    --color-success-main-contrast: 27,27,27;
    --color-success-dark-contrast: 251,252,248;
    --color-success-light-contrast: 27,27,27;

    transition: color 300ms ease-in-out;
  }
}